.body {
  background-color: rgb(0, 0, 0);
  font-family: monospace;
  color: green;
}

h2 { font-family: Lobster, monospace; }

.red-text { color: rgb(255, 0, 0); }
.orchid-text { color: rgb(218, 112, 214); }
.sienna-text { color: rgb(160, 82, 45); }
.blue-text { color: rgb(0, 0, 255); }

.red-text { color: red; }
.smaller-image{width:100px;}
.thick-green-border { border-color: green; border-width: 10px; border-style: solid; border-radius:50%; }
.silver-background{ background-color:silver; }
#cat-photo-form { background-color: green; }

.injected-text { margin-bottom: -25px; text-align: center; padding-top: 20px;}
.box { border-style: solid; border-color: black; border-width: 5px; text-align: center; }
.yellow-box { background-color: yellow; padding: 30px }
.red-box { background-color: crimson; color: #fff;
    margin: 20px 40px 20px 40px;padding: 1.5em;
}
.blue-box { background-color: blue; color: #fff;
    margin: 40px 20px 20px 40px;
}
.pink-text {
  color: pink !important;
}
.blue-text {
  color: blue;
}
[type='checkbox'] {
  margin: 10px 0px 15px 0px;
}
#orange-text {
  color: orange;
}
.pink-text {
  color: pink;
}
.blue-text {
  color: blue;
}