.body {
  background-color: #000000;
  font-family: monospace;
  color: green;
}

h2 { font-family: Lobster, monospace; }

.red-text { color: #F00; }
.fuchsia-text { color: #F0F; }
.cyan-text { color: #0FF; }
.green-text { color: #0F0; }

.red-text { color: red; }
.smaller-image{width:100px;}
.thick-green-border { border-color: green; border-width: 10px; border-style: solid; border-radius:50%; }
.silver-background{ background-color:silver; }
#cat-photo-form { background-color: green; }

.injected-text { margin-bottom: -25px; text-align: center; padding-top: 20px;}
.box { border-style: solid; border-color: black; border-width: 5px; text-align: center; }
.yellow-box { background-color: yellow; padding: 30px }
.red-box { background-color: crimson; color: #fff;
    margin: 20px 40px 20px 40px;padding: 1.5em;
}
.blue-box { background-color: blue; color: #fff;
    margin: 40px 20px 20px 40px;
}
.pink-text {
  color: pink !important;
}
.blue-text {
  color: blue;
}
[type='checkbox'] {
  margin: 10px 0px 15px 0px;
}
#orange-text {
  color: orange;
}
.pink-text {
  color: pink;
}
.blue-text {
  color: blue;
}